%br
%br
%br
%br
.row
  .col-3
  .col-4
    .card
      -#.card-header
        %h4 Book A Ride!
      .card-body
        %b.demo-label Enter Details
        %br
        %br
        = form_for VehicleBooking.new({schedule: DateTime.now}), url: 'vehicle_bookings' do |f|
          
          .row
            .col
              .col
                %label.demo-label PHONE NUMBER
              .col
                = f.text_field :phone_number, {required: true, class: 'demo-input', height: '20px'}
              .col
                %label.demo-label PICKUP
              .col
                = f.text_field :pickup_point, {class: 'demo-input'}
              .col
                %label.demo-label DESTINATION
              .col
                = f.text_field :destination, {class: 'demo-input'}
              .col
                %label.demo-label DATE AND TIME
              .col
                = f.datetime_field :schedule, {class: 'demo-input'}
              .col
                %label.demo-label VEHICLE CATEGORY
              .col
                = f.select :currency, [['Business', 'business'], ['Economy', 'economy']], {class: "demo-input"},
                  {class: "demo-input", required: true}
              -#.col
                %b= label(:search, :bpmn_process_id, 'BPMN Process:', {class: "form-label"})
              -#.col
                = f.select :bpmn_process_id, [['Vehicle Booking Receive Task', 'vehicle-booking-receive-task'],
                ['Vehicle Booking User Task', 'vehicle-booking-user-task'],
                ['Vehicle Booking Separate', 'vehicle-booking-initiate']],
                {}, {class: "form-select", required: true}

              
              %br.position-relative.demo-lebel
                = f.submit 'SUBMIT', class: "demo-label ant-btn css-dev-only-do-not-override-b5ovp3 ant-btn-primary"
                <button type="button" class="demo-label ant-btn css-dev-only-do-not-override-b5ovp3 ant-btn-default ant-btn-dangerous">
                <span>CANCEL</span>
                </button>
            .col-2
-#  .col
    .card 
      .card-header
        %h4 What Happens Next?
      .card-body
        %h6
          %b On Submit
        .row
          %ul
            %li It calls workflow's create API with required data
            %li
              <b>create</b> - sends <b>create_process_instance</b> (gRPC) request to workflow engine
            %li
              It has "Service Task" which:
              %ul
                %li Calculates Distance and Cost
                %li Makes entry into the database
        👇 Refer sequence diagram below 

-#.row
  .col
    .card
      .card-header
        %h4 Sequence Diagram
      .card-body
        = image_tag "vehicle_booking_initiate", width: '100%'      
